
 .jumbotron{
  margin-bottom: 0;
  background-image: url("./Images/Sweet_Room.png");
  padding: 330px 25px;
}

.navbar{
  background-color: #ebe0e0;
  letter-spacing: 4px;
  border-radius: 0;
}

.nav-link{
    color: black;
    font-weight: 600;
}

.navbar-brand{
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.card{
    border-style: none;
}

p{
    font-weight: 600;
}

button{
    border-style: solid;
    border-color: blue;

}